body {
    text-align:center;
    width:200px;
    background-color: orangered;
}



.langbutton {
    display: inline-block;  }

.langpic {
    width: 40px;
    height: 20px;
    border: solid 1px black;
}